<div class="account-form">
    <form action="/account" method="Post" class="myForm">
        <input type="text" class="myinput" name="name" placeholder="Enter Your Name ">
        <input type="phone" class="myinput" name="phone" placeholder="Enter Your Phone Number">
        
            <input type="email" class="myinput" name="email" placeholder="Enter Your Email Id">
            <input type="text" class="myinput" name="address" placeholder="Enter Your Address ">
            <input type="text" class="myinput" name="desc" placeholder="Enter Your concern">
           <button class="btn-btn">Submit</button>
      </form>
      
      
</div>