<!-- -----------Footer-------------------------- -->
<div class="footer">
    <div class="container-footer">
        <div class="row">
             <div class="footer-col-4">
                <h3>Contact us</h3>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/QSoftSolutions" style="color: white;" >Q-Soft Solution</a>
                    </li>
                     <li style="color: white;">
                        Mr. Sandeep Surve
                    </li>
                    <li style="color: white;">9890895464</li>
                    <li style="color: white;">9405349248</li>
                </ul>
            </div>
           
            <div class="footer-col-2">
                
            </div>
            <div class="footer-col-3">
                
            </div>
            
        </div>
        <hr>
        <p class="copyright">Copyright 2020 - Q-Soft Solution(Mrs.Sayali Surve)</p>
    </div>
</div>

<!-- ------------Js for toggle menu------------------ -->