
<div class="container-signup">
    <div class="row-signup">
      
        <form action="/signup" method="post">
            <h2>Sign up</h2>
            <div class="formgroup-signup">
                <label for="username">Name:</label>
                <input type="text" id="username1" name="username">
            </div>
           <div class="formgroup-signup">
                <label for="userlogin">User Login Id :</label>
                <input type="text" id="userlogin1" name="userlogin">
            </div>
            <div class="formgroup-signup">
                <label for="email">Email:</label>
                <input type="email" id="email1" name="email">
            </div>
            <div class="formgroup-signup">
                <label for="mobile">Mobile :</label>
                <input type="number" id="mobile1" name="mobile">
            </div>
            
            <div class="formgroup-signup">
                <label for="password">Password :</label>
                <input type="password" autocomplete="off" id="password1" name="password">
            </div>
             
            <button type="submit" class="btn-signup">Save</button>
        </form>
            </div>

</div>

